.u-section-1 {
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 630px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  width: 627px;
  margin: 175px auto 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 2px;
  width: 654px;
  margin: 34px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 140px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 0% 27.06%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 0.67% 0%;
    background-size: auto 130%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 74px;
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 898px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-family: Oswald, sans-serif;
  line-height: 66px;
  margin: 47px 100px 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1009px;
  margin: 60px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 285px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 300;
  margin: -24px 0 0 -7px;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  margin: 8px 4px 0 -2px;
}

.u-section-2 .u-text-4 {
  font-weight: 300;
  margin: 19px 7px 0 -7px;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 0 6px -84px -4px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 382px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  font-weight: 300;
  margin: 42px 0 0 -7px;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: 0 9px 0 -7px;
}

.u-section-2 .u-text-8 {
  font-weight: 300;
  margin: 25px 0 0 -7px;
}

.u-section-2 .u-text-9 {
  font-style: italic;
  margin: 0 9px 0 -7px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 639px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-2 .u-image-1 {
  width: 202px;
  height: 180px;
  margin: -30px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 202px;
  height: 164px;
  margin: -7px auto 0 0;
}

.u-section-2 .u-image-3 {
  width: 202px;
  height: 173px;
  margin: -336px 0 0 auto;
}

.u-section-2 .u-image-4 {
  width: 202px;
  height: 164px;
  object-position: 54.6% 50%;
  margin: 0 0 0 auto;
}

.u-section-2 .u-image-5 {
  height: 302px;
  object-position: 54.6% 50%;
  width: 404px;
  margin: 0 auto 0 -2px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 344px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-10 {
  font-weight: 300;
  margin: -30px 0 0;
}

.u-section-2 .u-text-11 {
  font-style: italic;
  margin: 11px 3px 0 -1px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 323px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-12 {
  font-weight: 300;
  margin: 0 1px;
}

.u-section-2 .u-text-13 {
  font-style: italic;
  margin: 0 1px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 820px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 278px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 2px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-top: 18px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin: 6px 0 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 356px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 32px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 2px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 595px;
  }

  .u-section-2 .u-image-1 {
    width: 188px;
    height: 167px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 6px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -337px;
  }

  .u-section-2 .u-image-5 {
    height: 281px;
    width: 376px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 278px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 278px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 570px;
  }

  .u-section-2 .u-image-1 {
    width: 180px;
    height: 160px;
  }

  .u-section-2 .u-image-5 {
    height: 269px;
    width: 360px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1267px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 855px;
  }

  .u-section-2 .u-image-1 {
    width: 270px;
    height: 240px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-2 .u-text-1 {
    line-height: 1.2;
    font-size: 3rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 538px;
  }

  .u-section-2 .u-image-1 {
    width: 170px;
    height: 151px;
  }

  .u-section-2 .u-image-5 {
    height: 254px;
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 885px;
}

.u-section-3 .u-text-1 {
  font-weight: 200;
  font-family: Oswald, sans-serif;
  font-size: 4.25rem;
  width: 593px;
  margin: 55px auto 0;
}

.u-section-3 .u-text-2 {
  background-image: none;
  width: 867px;
  margin: 25px auto 0;
}

.u-section-3 .u-list-1 {
  min-height: 245px;
  grid-template-rows: repeat(1, auto);
  margin: 16px 0 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  grid-auto-rows: 100%;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 25px 19px 0;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 21px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 25px 19px 0;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 21px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 25px 19px 0;
}

.u-section-3 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 21px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-9 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 25px 19px 0;
}

.u-section-3 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-3 .u-list-1 {
    min-height: 202px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    width: 143px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    width: 143px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    width: 143px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    width: 143px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-list-1 {
    min-height: 474px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-auto-rows: calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
    font-size: 3.4375rem;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    grid-auto-rows: calc(25% - 7.5px);
  }

  .u-section-3 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 3rem;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1504px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-family: Oswald, sans-serif;
  line-height: 66px;
  margin: 46px 100px 0;
}

.u-section-4 .u-custom-html-1 {
  margin-top: 41px;
  margin-bottom: 0;
  min-height: 624px;
  height: auto;
}

.u-section-4 .u-custom-html-2 {
  min-height: 624px;
  height: auto;
  width: 619px;
  margin: 63px auto 46px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-custom-html-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-custom-html-2 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1573px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-family: Oswald, sans-serif;
  line-height: 66px;
  margin: 46px 100px 0;
}

.u-section-5 .u-custom-html-1 {
  min-height: 1308px;
  height: auto;
  width: 570px;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-custom-html-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 797px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  font-family: Oswald, sans-serif;
  line-height: 66px;
  margin: 36px 100px 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 36px auto 0;
  padding: 10px 165px;
}

.u-section-6 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 30px auto 0;
  padding: 10px 111px 11px 110px;
}

.u-section-6 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 30px auto 0;
  padding: 10px 240px 10px 239px;
}

.u-section-6 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 30px auto 0;
  padding: 10px 222px 10px 221px;
}

.u-section-6 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 30px auto 0;
  padding: 10px 173px 10px 172px;
}

.u-section-6 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 30px auto 60px;
  padding: 10px 175px 11px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}